@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0;
}

body {
  font-family: "Nunito", sans-serif;
}
