.navbar {
  align-items: center;
  border-bottom: 1px solid #dbdada;
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  width: 100%;

  h1 {
    color: #333333;
  }

  p {
    font-size: 1rem;

    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.auth-page {
  background: url('../images/two-women-looking-at-the-code-at-laptop-1181263.jpg')
    center no-repeat;
  height: 100vh;
  width: 100%;

  .bg-fade {
    align-items: center;
    background: rgba($color: #ed2e38, $alpha: 0.7);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .auth-form {
      background-color: #ffffff;
      border-radius: 16px;
      box-shadow: 0px 4px 8px rgba($color: #333333, $alpha: 0.3);
      padding: 60px;
      position: relative;

      .form-header {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        height: 150px;
        justify-content: center;
        left: calc(50% - 75px);
        position: absolute;
        top: -75px;
        width: 150px;

        svg {
          color: #ed2e38;
          width: 50px;
        }
      }

      .form-title {
        color: #ed2e38;
        font-family: 'Lato';
        font-size: 3rem;
        letter-spacing: 1px;
        position: relative;
        text-align: center;
        z-index: 100;
      }

      .form-divisor {
        display: flex;
        flex-direction: column;
        position: relative;

        label {
          margin-top: 20px;
          margin-bottom: 10px;
        }

        input {
          border-radius: 4px;
          border: 2px solid #dbdada;
          padding: 10px;
          transition: 0.2s;
          width: 500px;

          &:focus {
            border-color: #ed2e38;
          }
        }

        p {
          margin-top: 10px;
          color: #ed2e38;
        }

        svg {
          color: #818181;
          cursor: pointer;
          position: absolute;
          right: 15px;
          top: 60px;
          width: 20px;
        }
      }

      button[type='submit'] {
        background-color: #ed2e38;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 8px rgba($color: #333333, $alpha: 0.3);
        color: #ffffff;
        cursor: pointer;
        font-family: 'Maven Pro';
        font-weight: bold;
        height: 50px;
        transition: 0.2s;
        width: 100%;
        margin-top: 20px;

        &:hover {
          box-shadow: 0px 7px 8px rgba($color: #333333, $alpha: 0.3);
          transform: translateY(-3px);
        }
      }

      .loader {
        animation: spin 0.75s linear infinite;
        border-radius: 50%;
        border: 3px solid #b420283d; /* Light grey */
        border-top: 3px solid #ffffff; /* Blue */
        height: 20px;
        margin: 0 auto;
        width: 20px;
      }

      .form-options {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 25px;

        .customCheckBox {
          -moz-user-select: none;
          -ms-user-select: none;
          -webkit-user-select: none;
          cursor: pointer;
          display: block;
          line-height: 25px;
          padding-left: 35px;
          position: relative;
          user-select: none;

          input {
            cursor: pointer;
            height: 0;
            opacity: 0;
            position: absolute;
            width: 0;

            &:checked ~ .checkmark {
              background-color: #ed2e38;

              &:after {
                display: block;
              }
            }
          }

          .checkmark {
            background-color: #ebebeb;
            border-radius: 4px;
            height: 25px;
            left: 0;
            position: absolute;
            top: 0;
            width: 25px;

            &:after {
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              border: solid white;
              border-width: 0 2px 2px 0;
              content: '';
              display: none;
              height: 10px;
              left: 9px;
              position: absolute;
              top: 5px;
              transform: rotate(45deg);
              width: 5px;
            }
          }
        }

        a {
          color: #ed2e38;
          font-weight: bold;
        }
      }
    }
  }
}

.tablePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;

  table {
    width: 100%;
    border-spacing: 0;
    text-align: left;

    tr:nth-child(even) {
      background-color: rgba(221, 221, 221, 0.3);
    }

    tr.closedRow {
      text-decoration: line-through;
      opacity: 0.3;
    }

    th {
      padding: 20px;
      background-color: #ed2e38;
      color: white;
      font-size: 22px;
      font-family: 'Maven Pro';

      &:first-child {
        border-radius: 4px 0px 0px 4px;
      }

      &:last-child {
        border-radius: 0px 4px 4px 0px;
      }
    }

    td {
      padding: 20px;
      text-overflow: ellipsis;
      word-wrap: none;
      white-space: nowrap;
      overflow: hidden;
      max-width: 800px;

      a {
        text-decoration: none;
        color: #333333;
      }
    }
  }

  .customCheckBox {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    line-height: 25px;
    padding-left: 35px;
    position: relative;
    user-select: none;

    input {
      cursor: pointer;
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0;

      &:checked ~ .checkmark {
        background-color: #ed2e38;

        &:after {
          display: block;
        }
      }
    }

    .checkmark {
      background-color: #ebebeb;
      border-radius: 4px;
      height: 25px;
      left: 0;
      position: absolute;
      top: 0;
      width: 25px;

      &:after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid white;
        border-width: 0 2px 2px 0;
        content: '';
        display: none;
        height: 10px;
        left: 9px;
        position: absolute;
        top: 5px;
        transform: rotate(45deg);
        width: 5px;
      }
    }
  }

  .table-options {
    display: flex;
    margin-bottom: 15px;

    .actions {
      backface-visibility: visible !important;
      animation: flipInX 0.5s forwards;
    }

    .actions,
    .filters {
      display: flex;
      flex-wrap: wrap;

      h4 {
        color: #333333;
        font-size: 1rem;
        margin-bottom: 10px;
        width: 100%;
      }

      button,
      select {
        align-items: center;
        border-radius: 4px;
        border: none;
        color: #818181;
        cursor: pointer;
        display: flex;
        font-family: 'Maven Pro';
        font-weight: bold;
        margin-right: 5px;
        padding: 10px 20px;

        svg {
          margin-right: 10px;
        }
      }

      input {
        border-radius: 4px;
        border: 2px solid #dbdada;
        padding: 10px;
        transition: 0.2s;

        &:focus {
          border-color: #818181;
        }
      }
    }
  }

  .pagination {
    margin-top: 10px;
    text-align: center;

    .pagination-button {
      background-color: #ed2e38;
      border-radius: 4px;
      border: none;
      color: white;
      cursor: pointer;
      margin: 0px 10px 10px 0px;
      padding: 8px 10px;
    }
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 50px;

  .back {
    text-decoration: none;
    margin-top: 40px;
    background-color: #ed2e38;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    font-family: 'Maven Pro';
    font-weight: bold;
  }

  .title {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    color: white;
    background: #ed2e38;
  }

  .content {
    background: #eee;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .center {
      width: 50%;
      margin-top: 30px;

      h4 {
        margin-top: 10px;
      }
    }

    aside {
      margin-top: 10px;
      h2 {
        text-align: center;
        padding: 10px 20px;
        display: table;
        border-radius: 4px;
        width: 100%;
        background: #ed2e38;
        color: white;
        margin-bottom: 10px;
        margin-right: 10px;
      }

      h3 {
        text-align: center;
        padding: 10px 20px;
        width: 100%;
        background: #ccc;
        margin-right: 30px;
      }
    }
  }
}
