@media screen and (max-width: 650px) {
  .auth-page .bg-fade {
    padding: 50px 10px;
  }

  .auth-page .bg-fade .auth-form {
    width: 100%;
    padding: 50px 25px;

    .form-divisor input {
      width: 100%;
    }
  }

  .auth-page .bg-fade .auth-form .form-header {
    width: 100px;
    height: 100px;
    top: -50px;
    left: calc(50% - 50px);

    svg {
      width: 50px;
    }
  }

  .auth-page .bg-fade .auth-form .form-options {
    flex-direction: column-reverse;
    flex-wrap: wrap;

    label {
      margin-bottom: 15px;
    }
  }

  .tablePage,
  .navbar {
    padding: 25px 15px;
  }

  .table-options {
    flex-direction: column-reverse;
  }

  .tablePage .table-options .filters,
  .tablePage .table-options .actions {
    justify-content: space-between;
  }

  .tablePage .table-options .filters select,
  .tablePage .table-options .actions button {
    width: calc(50% - 2.5px);
    margin-right: 0px;
  }

  .tablePage .table-options .filters input {
    width: 100%;
    margin-top: 5px;
  }

  .tablePage .table-options .actions {
    margin-top: 15px;
  }
}
