<h2>Recuperando senha</h2>

<p>
  Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}).
  Se essa solicitação não foi solicitada por você, ignore este e-mail.
</p>

<p>Para continuar com a recuperação de senha, utilize a url {{ link }} ou clique no link abaixo:</p>

<a href="{{ link }}">Criar nova senha</a>
